<div class="eight offset-by-two columns">
    <div class="mural">
      <img class="mural_img" src="../../<%= @mural.image %>" >
      <br>
      <h3 class="title show"><%= @mural.title %></h3>
      <div class="info four columns">
        <a href="<%= @mural.website %>"><h5><%= @mural.artist %></h5></a>
        <h6><%= @mural.year %></h6>
      </div>
      <div class="single_mural">
        <h5><strong><%= @mural.neighborhood %></strong></h5>
          <h6><%= @mural.address %></h6>
          <br>
          <p><%= @mural.description %></p>

          <!--  THIS CODE TOOK ME AT LEAST 4 HOURS TO FIGURE OUT-->
          <% if current_user != nil then %>
          <%= if current_user.id == @mural.users_id then button_to('Edit Mural', edit_mural_path, method: :get, :class => "button")  end%>
          <%= if current_user.id == @mural.users_id then button_to('Delete Mural', @mural, method: :delete, :class => "button")  end%>
          <% end %>
      </div>
    </div>
</div>
